

<div class="center hero-unit">
  <h1>Welcome to the Fairlyfool</h1>

  <h2>
    This is the static home page for tmp Fairlyfool.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("/assets/FairyAvatar-3.png", alt: "FairyAvatar"), 'http://github.com/fairlyfool' %>