<footer class="footer">
  <small>
    <a href="http://github.com/fairlyfool">Ms. Fairlyfool on Github</a>
    by Ms. Fairlyfool
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.baidu.com">Baidu News</a></li>
    </ul>
  </nav>
</footer>